<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <% @tasks.each do |task| %>
            <tr>
                <td><%= task.id %></td>
                <td><%= task.name %></td>
                <td><%= task.details %></td>
            </tr>
        <% end %>
    </tbody>
</table>